.featured-post { display: flex; align-items: center; border-top: 2px solid #A2AEBB; border-bottom: 2px solid #A2AEBB; margin: 77px 0; }
.featured-post img { width: 100%; }
.featured-post h5 { font-size: 18px !important; }
.featured-post a { font-weight: 600; font-family: 'Poppins'; }
.featured-post .thumbnail { padding-bottom: 75%; background-size: cover; background-position: center; background-color: #d5dbe2; }
.featured-post .col { padding: 28px 20px; }
.featured-post .col:first-of-type { padding-left: 0; width: 33%; }
.featured-post .col:last-of-type { padding-right: 0; width: 66%; }