.featured-post { display: flex; align-items: center; border-top: 2px solid #A2AEBB; border-bottom: 2px solid #A2AEBB; margin: 77px 0; width: 100%; flex-wrap: wrap; position: relative; }
.featured-post img { width: 100%; }
.featured-post h5 { font-size: 18px !important; }
.featured-post .link { font-size: 13px !important; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; font-family: 'Poppins'; color: #ea0000!important; transition: all 0.25s ease-in-out; }
.featured-post .link:hover { letter-spacing: 1.5px; color: #B90000!important; }
.featured-post .link:hover:after { font-family: 'ETmodules'!important; content: '$'!important; position: absolute!important; font-size: 16px!important; font-weight: normal!important; }
.featured-post .col { padding: 28px 20px; }
.featured-post .col.left { padding-left: 0; width: 33%; }
.featured-post .col.right { padding-right: 0; width: 66%; }
.featured-post .thumbnail { padding-bottom: 75%; background-size: cover; background-position: center; background-color: #d5dbe2; }
.featured-post .featured-comment { display: none; position: absolute; top: 0; left: 0; background-color: rgba(35, 40, 45, 1); font-size: 12px; line-height: 16px; color: #fff; padding: 12px; width: 100%; }
.featured-post .featured-comment a { color: #a0a5aa; }
.featured-post .featured-comment a:before { content: "\f464"; color: #a0a5aa; font-size: 16px; font-family: 'dashicons'; vertical-align: top; }
.featured-post .featured-comment strong { display: block; }
.featured-post:hover .featured-comment { display: block; }

@media(max-width: 800px) {
    .featured-post .col:first-of-type { width: 100% !important; padding: 20px 0 12px; }
    .featured-post .col:last-of-type { width: 100% !important; padding: 12px 0 20px; }
}